.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.LogIn {
  background-image: url("./img/web_background.gif");
  background-position-x: 40em;
  height: 100vh;
  width: 100vw;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.LogIn .media-object {
  margin-left: 33%;
  margin-top: 10em;
  margin-bottom: 5em;
}

.SignUp {
  background-image: url("./img/web_background.gif");
  background-position-x: 40em;
  height: 100vh;
  width: 100vw;
  align-content: center;
  justify-content: center;
  text-align: center;
}

label#labelLogIn {
  color: #A1AF00;
}

label#labelSignUp {
  color: #A1AF00;
}

h5.card-title{
  color: #A1AF00;
  font-weight: bold;
  font-size: 120%;
}

th{
  color: #542213;

}