.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.LogIn {
  background-image: url("./img/web_background.gif");
  background-position-x: 93em;
  height: 100vh;
  width: 100vw;
  align-content: center;
  justify-content: center;
  text-align: center;
  line-height: 1.2em;
  font-size: 1.4em;
}

.LogIn .media-object {
  margin-left: 33%;
  margin-top: 7em;
  margin-bottom: 3em;
}

.SignUp .media-object {
  margin-left: 33%;
  margin-top: 3em;
  margin-bottom: 4em;
}

.SignUp {
  background-image: url("./img/web_background.gif");
  background-position-x: 93em;
  height: 100vh;
  width: 100vw;
  align-content: center;
  justify-content: center;
  text-align: center;
  line-height: 1.2em;
  font-size: 1.4em;
}

label#labelLogIn {
  color: #A1AF00;
  margin-bottom: 1.5em;
}

label#labelSignUp {
  color: #A1AF00;
  margin-bottom: 1.1em;
}